@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100vh;
  width: 100%;
}

body .container {
  max-width: 350px;
  border-radius: 3px;
  max-height: 630px;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
  background: #2d3033;
  font-family: "Roboto", sans-serif;
  position: relative;
}

body .container .deg {
  position: absolute;
  top: 2%;
  left: 3%;
  font-size: 12px;
  color: #999fa5;
  z-index: 1;
  cursor: pointer;
}

body .container .work-area {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

body .container .work-area .cal {
  width: 100%;
  height: 70%;
  padding: 30px;
  text-align: end;
  font-size: 35px;
  border: none;
  background: transparent;
  caret-color: #7ea3df;
  color: white;
}

body .container .work-area .cal:focus {
  outline: none;
}

body .container .work-area .answer {
  width: 100%;
  height: 30%;
  padding: 5px;
  text-align: end;
  font-size: 25px;
  padding-right: 30px;
  color: white;
}

body .container .signs {
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  background: #174ea6;
}

body .container .signs li {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

body .container .signs li:first-child {
  background-color: #da4b4b;
}

body .container .signs li button {
  background: transparent;
  color: white;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

body .container .signs li button:focus {
  outline: none;
}

body .container .main {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

body .container .main .numbers {
  display: flex;
  flex-wrap: wrap;
}

body .container .main .numbers li {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container .main .numbers li button {
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 100%;
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

body .container .main .operators {
  display: flex;
  flex-direction: column;
}

body .container .main .operators li {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container .main .operators li button {
  font-size: 25px;
  color: #6f8fc2;
  border: none;
  border-radius: 100%;
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

body .container .main .next {
  display: flex;
  flex-direction: column;
}

body .container .main .next li {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container .main .next li:first-child button {
  color: white;
  background: #da4b4b;
}

body .container .main .next li button {
  font-size: 25px;
  color: #6f8fc2;
  border: none;
  border-radius: 100%;
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

body .container .signs li button,
body .container .operators li button,
body .container .numbers li button,
body .container .next li button {
  outline: none;
}

body .container .blank {
  pointer-events: none;
}

body .org {
  color: #da4b4b;
}

body .backspace {
  background: #da4b4b;
}

.animate-pop {
  animation: pop 0.4s ease-in-out 2 alternate;
}

.animate-pop2 {
  animation: pop2 0.4s ease-in-out 2 alternate;
}

@keyframes pop {
  0% {
    background: transparent;
    border-radius: 100%;
  }
  100% {
    background: rgba(77, 78, 80, 0.5);
    border-radius: 70%;
  }
}

@keyframes pop2 {
  0% {
    background: transparent;
    border-radius: 100%;
  }
  100% {
    background: rgba(151, 158, 170, 0.5);
    border-radius: 70%;
  }
}

@media (max-height: 568px) {
  .cal {
    font-size: 30px;
    padding-top: 70px;
  }
}
